@import url(https://fonts.googleapis.com/css?family=Geist:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";

.dark-mode {
  --primary: #101010;
  --secondary: #FFFFFF;
}

.light-mode {
  --secondary: #101010;
  --primary: #EDEDED;
}


@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --background-image-gradient: var(--gradient);
}

:root {
  font-family: Geist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  padding: 0px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  --gradient: linear-gradient(270deg, #6F47FF, #E036F3);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
}

.condensed {
  font-family: "Roboto Condensed";
}